# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/
changes.md

# Dotenv file
.env
.cursor
.DS_Store
CLAUDE.md
broadcast/execute-tasks.s.sol